:root {
    --color-primary:        #03A9F4;
    --color-primary-dark:   #0288D1;
    --color-primary-light:  #B3E5FC;
    --color-text-primary:   #212121;
    --color-text-dark:      #757575;
    --color-text-light:     #BDBDBD;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}
/* 
@media all and (max-width: 1100px) {
    html {
        font-size: 7.5px;
    }
}

@media all and (max-width: 850px) {
    html {
        font-size: 6px;
    }
} */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-primary-light);
}